# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Simple uploading artifacts on to S3

on:
  push:
    branches: [ "main" ]


permissions:
  contents: read
  id-token: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: run a shell command
      run: echo hello world
    - name: path to the current directory
      run: pwd;
            mkdir newfolder
            $ touch abc.txt
    - name: set up AWS credential
      uses: aws-actions/configure-aws-credentials@v3
      with:
        role-to-assume: arn:aws:iam::288946855193:role/OpenIDRole
        aws-region: ap-south-1
    - name: Copy files to the production website with the AWS CLI
      run: |
        aws s3 cp ,/index.html s3://mybucket-nisha
     
